*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #f2e8d8;
    color: #121212;
    max-width: 70vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    }

nav{
    height: 10vh;
    background: #fcb63d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items{
    font-size: 1.5rem;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

nav a:hover{
    color: #fffbd4;
}

.title{
    background-color: #bdf0e4;
    text-align: center;
    font-size: 1.5rem;
}

p{
    font-size: 1.2rem;
    background-color: #fffbd4;
    padding: 5vh;
    flex: 1;
}

.images{
    display:inline-block;
    height: 50vh;
    background-color: #fffbd4;
    text-align: center;
}

footer{
    padding: 1rem;
    margin-top: auto;
    background-color: #fcb63d;
    justify-content: center;
    text-align: center;
}