*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: linear-gradient(#bdf0e4, #f2e5ac,#ebc934);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #121212;
    max-width: 70vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
    }

nav{
    height: 10vh;
    background: #fcb63d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items{
    font-size: 1.8rem;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
}

nav a:hover{
    color: #fffbd4;
}

.title{
    background-image: url(images/schoolchildren.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 2rem;
    color: #fffbd4;
    padding: 40vh;
}

.content{
    font-size: 1.5rem;
    background-color: #fffbd4;
    padding: 4vh 4vw;
    line-height: 1.5;
    flex: 1;
}

.images{
    display: inline-block;
    text-align: center;
    max-height: 10vh;
    margin: 1.5rem;
}

footer{
    padding: 1rem;
    margin-top: auto;
    background-color: #fcb63d;
    justify-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
    color:#121212;
}